* {
    padding: 0px;
    margin: 0px;
}

:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

router-outlet {
    flex: 1;
    display: block;
}