* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(35, 35, 35, 0.814) !important;
    min-height: 100vh;
  }
  
  .carousel,
  .carousel-inner {
    background-color: transparent !important;
  }
  